@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*加载表格*@
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")

    @Styles.Render("~/Bootstrap/css/bootstrap.css")
    @Scripts.Render("~/Bootstrap/js/bootstrap.js")

    @Styles.Render("~/Bootstrap/bootstrap-table/bootstrap-table.css")
    @Scripts.Render("~/Bootstrap/bootstrap-table/bootstrap-table.js")
    @*加载弹出层*@
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Scripts.Render("~/My97DatePicker/WdatePicker.js")
    @Scripts.Render("~/Scripts/jquery.valiedate.form.js")
    <script src="~/Scripts/Admin/OrdersInfoMation.js"></script>
</head>
<body>
    <script>
        $(function () {
            onloadTable();
        })
    </script>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default" id="MsgFirst">
            <div class="panel-heading">订单基本信息</div>
            <div class="panel-body">
                @foreach (Model.Orders item in ViewData["OrdersInfo"] as List<Model.Orders>)
                {
                    <input type="hidden"  value="@item.OrderId"  id="OrdersId"/>
                    <form id="formSearch" class="form-horizontal">
                        <table>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        订单号
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.OrderId
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        下单时间
                                    </label>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        @item.CreateTime
                                     
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        销售价
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.SellingPrice
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        成本价
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.CostPrice
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        利润
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.profit
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        订单状态
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @if (item.OrdersState == 1)
                                        {
                                            <label>待支付</label>
                                          
                                        }
                                        @if (item.OrdersState == 2)
                                        {
                                             <label>待发货</label>
                            
                                        }
                                        @if (item.OrdersState == 3)
                                        {
                                             <label>已发货</label>
                                          
                                        }
                                        @if (item.OrdersState == 4)
                                        {
                                            <label>已签收</label>
                                        }
                                        @if (item.OrdersState == 5)
                                        {
                                            <label>取消订单</label>
                                         
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        支付时间
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.PayTime
                                    
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        支付流水号
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.PayOrdersNum
                                    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        快递公司
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.LogisticsCompanyNumber
                                   
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        快递单编号
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.LogisticsNumber
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        商品数目
                                    </label>

                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.GoodsSum
                                    
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        发货时间
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.OrderDelivery
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        收货人名称
                                    </label>

                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.ConsigneeName
                                    </div>
                                </td>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        收货人电话
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.ConsigneePhone
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label col-sm-2" for="txt_search_departmentname">
                                        收货人地址
                                    </label>
                                </td>
                                <td>
                                    <div class="col-sm-2">
                                        @item.ConsigneAaddress
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">订单商品明细</div>
            <table id="tb_departments" data-reorderable-columns="true"></table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">订单日志信息</div>
            <div class="panel-body">
                <table width='500' align="left">
                    <tr>
                        <th>订单状态</th>
                        <th>操作人</th>
                        <th>时间</th>
                        <th>备注</th>
                    </tr>
                    @foreach (Model.OrdersLog OrdersLogItem in ViewData["OrdersLog"] as List<Model.OrdersLog>)
                    {
                        <tr>
                            <td>
                                @if (OrdersLogItem.OrdersState == 1)
                                {
                                    <label>待支付</label>

                                }
                                @if (OrdersLogItem.OrdersState == 2)
                                {
                                    <label>待发货</label>

                                }
                                @if (OrdersLogItem.OrdersState == 3)
                                {
                                    <label>已发货</label>

                                }
                                @if (OrdersLogItem.OrdersState == 4)
                                {
                                    <label>已签收</label>
                                }
                                @if (OrdersLogItem.OrdersState == 5)
                                {
                                    <label>取消订单</label>

                                }
                                @if (OrdersLogItem.OrdersState == 1)
                                {

                                }
                            </td>
                            <td>@OrdersLogItem.UserName</td>
                            <td>@OrdersLogItem.Time</td>
                            <td>@OrdersLogItem.Remark</td>
                        </tr>
                    }

                </table>
</div>
        </div>
    </div>
</body>
</html>
