@model Model.FlowerTreatment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-dpi, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>养护花卉</title>
    @Styles.Render("~/static/css/bootstrap.css")
    <script src="~/static/js/jquery.js"></script>
    <script src="~/static/js/util.js"></script>
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <style>
        table tr {
            height: 20px;
        }
    </style>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx8cea00cbec4ea6d1', // 必填，公众号的唯一标识
            timestamp: '@Html.Raw(ViewData["timestamp"])', // 必填，生成签名的时间戳
            nonceStr: '@Html.Raw(ViewData["nonceStr"])', // 必填，生成签名的随机串
            signature: '@Html.Raw(ViewData["signature"])',// 必填，签名，见附录1
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.error(function (res) {
            //alert("错误：" + res);
        });

        wx.checkJsApi({
            jsApiList: [
                'getLocation',
            ],
            success: function (res) {
                if (res.checkResult.getLocation == false) {
                    alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                    return;
                }
            }
        });
        wx.ready(function () {
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    // alert('纬度'+latitude + "。" +'经度'+ longitude);
                    layer.closeAll();
                    //获取到经纬度之后，异步去后台加载出来真实的地理位置
                    $("#latitude").val(latitude);
                    $("#longitude").val(longitude);
                },
                cancel: function (res) {
                    alert('用户拒绝授权获取地理位置');
                }
            });
        });
    </script>
    <script>
        $(function () {
            if ($("#msg").val() != '') {
                //信息框
                layer.open({
                    content: $("#msg").val()
                  , btn: '我知道了'
                });
            }


            if ($("#InfoShow").val() != "") {
                //信息框
                layer.open({
                    content: $("#InfoShow").val()
                  , btn: '我知道了'
                });
            }
        })

        function SumbitInfo()
        {
            $.ajax({
                url: '/MFlower/ConservationFlowers',
                data: $("#formInfo").serialize(),
                type:'POST',
                success: function (data)
                {
                    //信息框
                    layer.open({
                        content: '操作成功'
                      , btn: '我知道了',
                        yes: function () {
                            location.href = '/MMIndex/Index';
                      }
                    });
                }
            })
        }
        function CheckFrom() {
            return true;
        }
    </script>
</head>
<body>
    <form id="formInfo" style="width: 80%; margin: 70px auto;">
        <div class="navbar navbar-fixed-top" data-id="top">
            <div class="navbar-inner" style="text-align: center; background-color: #79ca06; height: 50px; color: #FFFFFF; line-height: 50px; font-size: 20px;">
                <div style="float: left;margin-left: 10px; " onmousedown="black(this)">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>
                养护花卉
            </div>
            <input type="hidden" name="latitude" id="latitude" />
            <input type="hidden" name="longitude" id="longitude" />
            <input type="hidden" id="msg" value="@ViewData["success"]" />
        </div>
        <input type="hidden" value="@ViewBag.LoginError" id="InfoShow" />
        <div class="form-group">
            <label for="exampleInputEmail1">养护花卉所属客户</label>
            @Html.DropDownList("deptSelectItems", ViewData["deptSelectItems"] as List<SelectListItem>, new { @class = "form-control" })
            <div class="form-group">
                <label for="exampleInputPassword1">备注</label>
                @Html.TextAreaFor(x => x.ContentMsg, new { @class = "form-control", @placeholder = "请输入备注" })
            </div>
            <div style="float: right; margin-bottom: 10px;">
                <button type="button" onclick="SumbitInfo()" class="btn btn-primary glyphicon glyphicon-ok">提交</button>
            </div>
        </div>
    </form>
</body>
</html>
