@model  List<Model.FlowerTreatment>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>养护记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="location" content="province=;city=;coord=" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon-precomposed" href="~/FileCss/images/screenLogo.png?debug=847" />
    <link rel="stylesheet" type="text/css" href="~/FileCss/css/m2015.css?debug=847" />
    <style>
        #tj_sx .sx_div {
            min-height: 360px;
            overflow: auto;
            -moz-user-select: none;
            -o-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            #tj_sx .sx_div a {
                outline: none;
                outline-style: none;
            }

                #tj_sx .sx_div a.cur {
                    margin: 3px;
                    height: 34px;
                    line-height: 34px;
                    background-color: rgba(69,161,222,0.35);
                    border-radius: 3px;
                    border: 1px solid rgba(255,255,255,0.2);
                    margin-right: 10px;
                }

        #tj_sx #close_sx {
            z-index: 6;
        }

        .gourldiv {
            clear: both;
            padding: 20px;
            text-align: center;
        }

        .gourlbtn {
            display: inline-block;
            padding: 6px 10px;
            border-radius: 3px;
            background: #284E74;
            border: 1px solid rgba(255,255,255,0.4);
            color: #fff;
        }

        .optinfo {
            padding: 5px;
        }

            .optinfo a {
                margin: 2px;
                white-space: nowrap;
                border: 1px solid rgba(255,255,255,.2);
                border-radius: 3px;
                display: inline-block;
                padding: 2px 4px;
            }

            .optinfo span {
                margin: 2px;
            }

        .gh em {
            display: block;
            overflow: hidden;
            font-size: 12px;
        }

        .gh strong {
            word-break: break-all;
            color: #2c3e50;
        }

        .list table thead th {
            height: 40px;
            background: #f6f6f6;
        }

        .list table tbody td {
            padding: 4px 4px;
        }

        .shaixuan {
            z-index: 100;
        }
    </style>
</head>
<body>
    <header id="header" style="">
        <div class="topbar">
            @if (Request["s"] != null && Request["s"] == "add")
            {
                 <a href="/MMain/GetArrangementInfo?ArrangementId=@ViewBag.arrid" class="back_btn"><i class="iconfont">ş</i></a>
            }
            else
            {
                <a href="javascript:history.back();" class="back_btn"><i class="iconfont">ş</i></a>
            }
            <a href="/MLogin/Index?ArrangementId=@ViewBag.arrid&LoginOut=1" style="float: right;margin: 12px;">退出</a>
            <h1 class="page_title">养护记录</h1>
        </div>
      
    </header>
    <div class="list">
        <table style="width:100%">
            <thead>
                <tr><th>服务前</th><th>服务后</th><th>详情</th></tr>
            </thead>
            <tbody id="prolist">
                @foreach (Model.FlowerTreatment item in Model)
                {
                    <tr>
                        <td>                          
                            <span class="list_img">
                                @if (string.IsNullOrEmpty(item.Photo))
                                {
                                   <img src="~/FileCss/images/nopic.png" width="90" height="90" />
                                }
                                else
                                {
                                    <img src="@item.Photo" class="imgphoto" width="90" height="90" />
                                }
                            </span>
                        </td>
                        <td>
                            <span class="list_img">
                                @if (string.IsNullOrEmpty(item.ChangePhoto))
                                {
                                    if (Utility.ChangeText.GetRoleCode() == "Customer")
                                    {
                                        <img src="~/FileCss/images/nopic.png" width="90" height="90" />
                                    }
                                    else
                                    {
                                    <a href="/MFlower/AddServerPhoto?id=@item.id&ArrangementId=@item.ArrangementId">
                                        <img src="~/FileCss/images/nopic.png" width="90" height="90" />
                                    </a>
                                    }
                                }
                                else
                                {
                                    <img src="@item.ChangePhoto" class="imgphoto" width="90" height="90" />
                                }

                            </span>
                        </td>
                        <td>
                            <span class="gh">
                                <em>@item.CompanyName</em>
                                <em>
                                    @item.OwnedCompany <br />
                                </em>
                                <em>@item.FlowerTreatmentAddress</em>
                                <em>@item.ContentMsg</em>
                                 @if(item.endtime != null)
                                    {
                                    <em style="float:right">@(((DateTime)item.endtime).ToString("yyyy-MM-dd"))</em>
                                   }
                                  
                            </span>                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="PhotoShowDiv"><img src="" id="ShowPhotoImg" style="max-height:400px;max-width:300px;" /></div>
    <a href="javascript:;" class="loadmore">加载更多</a>
    @*<script src="~/FileCss/js/zepto.min.js?debug=847" type="text/javascript"></script>
        <script type="text/javascript" src="~/FileCss/js/main.js?debug=8478"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <script>
        $(function () {
            //$(".top_home").click(function () {
            //    var target = $(".home_menu");
            //    if (target.slideToggle) target.slideToggle();
            //    else target.toggle();
            //});
        });
        function jsonDateFormat(jsonDate) {//json日期格式转换为正常格式
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                return date.getFullYear() + "-" + month + "-" + day  ;
            } catch (ex) {
                return "";
            }
        }
        $(".imgphoto").click(function () {
            var url = $(this).attr("src");
            ShowPhotoInfo(url);
        });
        $(".backtop_btn").click(function () {
            $("html,body").animate({ scrollTop: 0 }, 500);
        });
        function ShowPhotoInfo(values) {

            parent.layer.closeAll();
            $("#ShowPhotoImg").attr("src", values);
            var layindex = parent.layer.open({
                type: 1,
                shade: false,
                title: false, //不显示标题
                content: $('#PhotoShowDiv').html(), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function () {
                    parent.layer.close(layindex);
                }
            });
            $("#ShowPhotoImg").attr("src", "");
        }
        var page = 2;
        var finished = 0;
        var sover = 0;

        //如果屏幕未到整屏自动加载下一页补满
        var setdefult = setInterval(function () {
            if (sover == 1)
                clearInterval(setdefult);
            else if ($(".list").height() < $(window).height()) {
                //console.log($(".list").height());
                //console.log($(window).height());
                loadmore($(window));
            }
            else
                clearInterval(setdefult);
        }, 500);

        //加载完
        function loadover() {
            if (sover == 1) {
                var overtext = "Duang～到底了";
                $(".loadmore").remove();
                if ($(".loadover").length > 0) {
                    $(".loadover span").eq(0).html(overtext);
                }
                else {
                    var txt = '<div class="loadover"><span>' + overtext + '</span></div>'
                    $("body").append(txt);
                }
            }
        }

        //加载更多
        var vid = 0;
        function loadmore(obj) {
            if (finished == 0 && sover == 0) {
                var scrollTop = $(obj).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(obj).height();

                if ($(".loadmore").length == 0) {
                    var txt = '<div class="loadmore"><span class="loading"></span>加载中..</div>'
                    $("body").append(txt);
                }

                if (scrollTop + windowHeight - scrollHeight <= 50) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    var ht = '<a href="#" class="backtop_btn" style="position:fixed;bottom:0;left:85%;">↑回顶部</a>';
                    $("body").append(ht);
                    //防止未加载完再次执行
                    finished = 1;

                    $.ajax({
                        type: 'GET',
                        url: '/MFlower/GetMobleScanMore?page=' + page ,
                        dataType: 'json',
                        success: function (data) {
                            //console.log(data);
                            if (data == "" || data == null) {
                                //console.log('数据加载完了');
                                sover = 1;
                                loadover();
                                if (page == 1) {
                                    $("#no_msg").removeClass("hidden");
                                    $(".loadover").remove();
                                }
                            }
                            else {
                            var result = ''
                            for (var i = 0; i < data.length; i++) {
                                result += '<tr><td><span class="list_img">';
                                if(data[i].Photo!=undefined)
                                {
                                 result+='<img src="' + data[i].Photo + '" class="imgphoto" width="100" height="100" /></span></td>';
                                }
                                else{
                                  result+='<img src="/FileCss/images/nopic.png" width="100" height="100" /></span></td>'
                                }
                                result+='<td><span class="list_img">';
                                if(data[i].ChangePhoto!=undefined)
                                {
                                  result+='<img src="' + data[i].ChangePhoto + '" class="imgphoto" width="100" height="100" /></span></td>';
                                }
                                else{
                                    result+='<img src="/FileCss/images/nopic.png" width="100" height="100" /></span></td>'
                                }
                                result += ' <td><span class="gh">';
                                if (data[i].CompanyName != undefined)
                                {
                                    result+='<em>'+data[i].CompanyName+'</em>';
                                }
                                if(data[i].OwnedCompany!=undefined)
                                {
                                  result+='<em>'+data[i].OwnedCompany+'</em>';
                                }
                                if (data[i].FlowerTreatmentAddress != undefined)
                                {
                                    result += '<em>'+data[i].FlowerTreatmentAddress+'</em>';
                                }
                                if (data[i].ContentMsg != undefined)
                                {
                                    result+='<em>'+data[i].ContentMsg+'</em>';
                                }
                                if (data[i].endtime != undefined)
                                {
                                    result += '<em style="float:right">' + jsonDateFormat(data[i].endtime) + '</em><br>';
                                }
                                  result+='</span></td></tr>';
                                }//end for
                                //为了测试，延迟1秒加载
                                setTimeout(function () {
                                    $(".loadmore").remove();
                                    //console.log(result);
                                    $('#prolist').append(result);
                                    page += 1;
                                    finished = 0;
                                    //最后一页
                                    if (page == 10) {
                                        sover = 1;
                                        loadover();
                                    }
                                }, 1000);
                            }
                        },
                        error: function (xhr, type) {
                            alert('Ajax error!');
                        }
                    });
                }
            }
        }
        //页面滚动执行事件
        $(window).scroll(function () {
            loadmore($(this));
        });
    </script>
</body>
</html>
