@model Model.UserAdmin
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon-precomposed" href="images/screenLogo.png?debug=847" />
    <meta name="location" content="province=;city=;coord=" />
    <link rel="stylesheet" type="text/css" href="~/FileCss/css/m2015.css?debug=847" />
    <script src="~/FileCss/js/zepto.min.js?debug=847" type="text/javascript"></script>
    <script src="~/FileCss/js/main.js?debug=847" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>   
    @Scripts.Render("~/Thems/js/layer/layer.js")
    @*<script src="~/Thems/js/layer/mobile/layer.js"></script>*@
    <style>
        #autoPwsLogin {
            display: inline-block;
            width: 45%;
            background: #628094;
        }
    </style>
    <script type="text/javascript">
        //var backurl = "http://m.ch999.com/product/36170.html";
        var sig = request("sig");
        var openid = request("openid");
        var time = request("time");
        var ifValid = "0";
        if ($.trim(sig) != "" && $.trim(openid) != "" && $.trim(time) != "" && ifValid == "0") { window.location = "erorrpage.html"; }

        function request(paras) {
            var _url = location.href;
            var paraString = _url.substring(_url.indexOf("?") + 1, _url.length).split("&");
            var paraObj = {};
            for (i = 0; j = paraString[i]; i++) {
                paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
            }
            var returnValue = paraObj[paras.toLowerCase()];
            if (typeof (returnValue) == "undefined") { return ""; }
            else { return returnValue; }
        }

        function zhaohui_clic(obj) {
            obj.href += "?txtUser=" + escape($("#txtUser").val());

        }
    </script>
</head>
<body>
    @Html.Partial("header")  
   
    @using (Html.BeginForm("Index", "MLogin", FormMethod.Post, new { onsubmit = "return  CheckFrom()",id="form" }))
    {
        <div class="wrapper">

            <div class="login">
                <div class="loginbox">
                    <i class="iconfont">Œ</i>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "请输入用户名" })
                </div>
                <div class="loginbox">
                    <i class="iconfont">ƺ</i>
                    @Html.PasswordFor(x => x.PassWord, new { @class = "form-control", @placeholder = "请输入密码" })
                </div>
                <input type="hidden" id="msg" value="@ViewBag.LoginError " />
                <input type="hidden" name="ArrangementId" value="@Request["ArrangementId"]"/>
                <div style="text-align:center;">
                    <button id="btnLogin" type="submit" style="display:inline-block;width:48%">登录</button>
                </div>
            </div>

        </div>
    }
    <script>
        $(function () {           
            $(".back_btn").hide();
            //记录帐号
            var user = document.getElementById('UserName'),
                pass = document.getElementById('PassWord'),
                localUser = localStorage.getItem('user') || ''; //获取到user的值并保存
            localPass = localStorage.getItem('pass') || ''; //获取到pwd的值并保存
            user.value = localUser;
            pass.value = localPass;
            var aid = $("input[name='ArrangementId']").val();
            var out = request("LoginOut");//退出
            if (out =="") {
                if ($("#UserName").val() != "" && $("#PassWord").val() != "" && aid != undefined) {                   
                    var index = layer.load(1, {
                        offset: ['50%', "45%"],
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                    var btnTimer = null;
                    btnTimer = setTimeout(function () {
                        layer.close(index)
                        document.getElementById("form").submit();
                    }, 1000);
                }
            }
            if ($("#msg").val() != "") {
                //信息框
                layer.open({
                    content: $("#msg").val()
                    , btn: '我知道了'
                });
            }
        })
        function CheckFrom() {
            if ($("#UserName").val() == "") {
                //信息框
                layer.open({
                    content: '用户名不能为空'
                    , btn: '我知道了'
                });
                return false;
            }
            if ($("#PassWord").val() == "") {
                //信息框
                layer.open({
                    content: '密码不能为空'
                    , btn: '我知道了'
                });
                return false;
            }
            var user = document.getElementById('UserName');
            var pass = document.getElementById('PassWord');
            localStorage.setItem('user', user.value);
            localStorage.setItem('pass', pass.value);
            return true;
        }
    </script>
    @Html.Partial("FootView")
</body>
</html>