@model Model.UserAdmin
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon-precomposed" href="images/screenLogo.png?debug=847" />
    <meta name="location" content="province=;city=;coord=" />
    <link rel="stylesheet" type="text/css" href="~/FileCss/css/m2015.css?debug=847" />
    <script src="~/FileCss/js/zepto.min.js?debug=847" type="text/javascript"></script>
    <script src="~/FileCss/js/main.js?debug=847" type="text/javascript"></script>
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
    <style>
        #autoPwsLogin {
            display: inline-block;
            width: 45%;
            background: #628094;
        }
    </style>
    <script type="text/javascript">
        var backurl = "http://m.ch999.com/product/36170.html";
        var sig = request("sig");
        var openid = request("openid");
        var time = request("time");
        var ifValid = "0";
        if ($.trim(sig) != "" && $.trim(openid) != "" && $.trim(time) != "" && ifValid == "0") { window.location = "erorrpage.html"; }

        function request(paras) {
            var _url = location.href;
            var paraString = _url.substring(_url.indexOf("?") + 1, _url.length).split("&");
            var paraObj = {};
            for (i = 0; j = paraString[i]; i++) {
                paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
            }
            var returnValue = paraObj[paras.toLowerCase()];
            if (typeof (returnValue) == "undefined") { return ""; }
            else { return returnValue; }
        }

        function zhaohui_clic(obj) {
            obj.href += "?txtUser=" + escape($("#txtUser").val());

        }
    </script>
</head>
<body>
    @Html.Partial("header")
    <script>
        SiteName = "淘花运";
        var isApp = Cookie.Get("isApp");
        if (isApp == null || isApp == "") { isApp = 0; }
        if (isApp == 1) { $("#header").hide(); }
        $(".top_home").click(function () {
            var target = $(".home_menu");
            if (target.slideToggle) target.slideToggle();
            else target.toggle();
        });
    </script>
    <script type="text/javascript">
        var _mvq = window._mvq || [];
        window._mvq = _mvq;
        _mvq.push(['$setAccount', 'm-23995-6']);

        _mvq.push(['$logConversion']);
        (function () {
            var mvl = document.createElement('script');
            mvl.type = 'text/javascript'; mvl.async = true;
            mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(mvl, s);
        })();

    </script>
    @using (Html.BeginForm("Index", "MLogin", FormMethod.Post, new { onsubmit = "return  CheckFrom()" }))
    {
        <div class="wrapper">

            <div class="login">
                <div class="loginbox">
                    <i class="iconfont">Œ</i>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "请输入用户名" })
                </div>
                <div class="loginbox">
                    <i class="iconfont">ƺ</i>
                    @Html.PasswordFor(x => x.PassWord, new { @class = "form-control", @placeholder = "请输入密码" })
                </div>
                <input type="hidden" id="msg" value="@ViewBag.LoginError " />
                <input type="hidden" name="ArrangementId" value="@Request["ArrangementId"]"/>
                <div style="text-align:center;">
                    <button id="btnLogin" type="submit" style="display:inline-block;width:48%">登录</button>
                </div>
            </div>

        </div>
    }
    <script>
        $(function () {
            if ($("#msg").val() != "") {
                //信息框
                layer.open({
                    content: $("#msg").val()
                  , btn: '我知道了'
                });
            }
        })
        function CheckFrom() {
            if ($("#UserName").val() == "") {
                //信息框
                layer.open({
                    content: '用户名不能为空'
                  , btn: '我知道了'
                });
                return false;
            }
            if ($("#PassWord").val() == "") {
                //信息框
                layer.open({
                    content: '密码不能为空'
                  , btn: '我知道了'
                });
                return false;
            } return true;
        }
    </script>
    @Html.Partial("FootView")
</body>
</html>