@model Model.FlowerArrangement
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/FileCss/css/m2015.css?version=847" />  
    @*<script src="~/layui/layui.js"></script>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    *@    
    <link href="~/uploadify/webuploader.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/uploadify/webuploader.html5only.min.js"></script>
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <script>
        //
        $(function () {
            //图片正方形
            var width = $(".pro_img_box li img").width();
            $(".pro_img_box li img").height(width);
            //数字变颜色
            var fangfa = $("#fangfa").html();
            var reg = /\d+/g;
            var ms = fangfa.match(reg);
            for (var i = 0; i < ms.length; i++) {
                fangfa = fangfa.replace(ms[i], "<span class='changec'>" + ms[i] + "</span>");
            }
            $("#fangfa").html(fangfa);
            //数字转换星期
            var oldv = $("#kly").text().trim();
            var show_day = new Array('一', '二', '三', '四', '五', '六', '日');
            $("#kly").text(show_day[oldv - 1]);
            //
            
        });
        $(function () {
            // 初始化Web Uploader
            var uploader = WebUploader.create({

                // 选完文件后，是否自动上传。
                auto: false,

                // swf文件路径
                //swf: BASE_URL + '/js/Uploader.swf',

                // 文件接收服务端。
                server: '/FlowerArrangement/Upload', //上传接口
                //server: '/Text/TextImg',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            uploader.on('uploadSuccess', function (file) {
                //$('#' + file.id).find('p.state').text('已上传');
                //$('#' + file.id).addClass('upload-state-done');
                layer.msg('提交成功');               
            });

            uploader.on('uploadError', function (file) {
                $('#' + file.id).find('p.state').text('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').fadeOut();
            });
            var $list = $("#fileList");
            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                var $li = $(
                        '<div id="' + file.id + '" class="file-item thumbnail">' +
                            '<img>' +
                            '<p class="state"></p>' +
                        '</div>'
                        ),
                 $img = $li.find('img');

              
                // $list为容器jQuery实例
                $list.html($li);
                var thumbnailWidth = 100;
                var thumbnailHeight = 100;
                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);
            });
            $btn = $(".put");
            //点击上传
            $btn.on('click', function () {
                if ($list.children('div').length > 0) {
                    $this = $(this);
                    // 保存原按钮的text值
                    var oldText = $this.val();
                    // 设置计时的开始值,5s要从6开始减
                    var i = 6;
                    //禁用按钮
                    $this.attr('disabled', true);
                    //设置定时器
                    var btnTimer = null;
                    btnTimer = setInterval(function () {
                        // 开始计数
                        i--;
                        // 注意clearInterval一定要最后，不然attr和text函数不会执行
                        if (i <= 0) {
                            $this.removeAttr('disabled');
                            $this.val(oldText);
                            clearInterval(btnTimer);
                        }
                        else { $this.val(i); }
                    }, 1000);
                    var obj = new Object();
                    obj.FlowerArrangementId = $("#FlowerArrangementId").val();
                    uploader.options.formData = obj;
                    uploader.upload();
                    console.log("上传成功");
                }
                else { layer.msg('选择图片后上传'); }
            });
        });
       

    </script>
    <style>       
        <!---->
        .spanstyle {
            font-weight: 600;
            float: left;
        }
        .week {
        display: inline-block;
        width: 27%;
        height: 26px;
        text-align: center;
        line-height: 24px;
        color: #fff;
        background: #a0c716;
        margin: 7px 10px;
        border-radius: 16px;
        }
        .put{
        float:right; background-color:#a0c716;
        width:32%;
        border-radius:20px;
        text-align: center;
        height: 35px;line-height: 33px;
        border:none;margin-right:3px;
        color:#fff;
        }
        .upload{
        float:left;
        background-color:#ff6a00;
        width:32%;
        border-radius:20px;
        height: 33px;line-height: 33px;
        border:none;
        color:#fff;
        }
        .leftpadding {            
            margin-top: 20px;
        }
        .changec{
           color:#f44623;
        }
    </style>

</head>
<body>    
    <header id="header" style="background:#ffffff">
        <div class="topbar">
            <a href="javascript:history.back();" class="back_btn"><i class="iconfont">ş</i></a>
            <a href="javascript:;" class="top_home"><i class="iconfont">ƙ</i></a>
            <h1 class="page_title">花卉详情</h1>
        </div>
        <div class="home_menu" id="hMenu">
            <a href="/Shop/Index"><i class="iconfont">Ő</i><span>我要买花</span></a>
            <a href="/MFlower/ConservationFlowers"><i class="iconfont">Ɔ</i><span>养护花卉</span></a>
            <a href="/MFlower/ChangeFlowers"><i class="iconfont">ŭ</i><span>更换花卉</span></a>
            <a href="/MMIndex/Index"><i class="iconfont">Œ</i><span>会员中心</span></a>
        </div>
    </header>     
        <div class="product" style="position:relative;">
            <div id="bigImg">
                <div id="pro_img" class="pro_img">
                    <div class="pro_img_box">
                        <ul>
                            <li>
                                <div class="pro_img_wrap">
                                    <img src="@Model.Photo" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pro_img_nav">
                        @*<i class="iconfont pro_img_item cur">Ƴ</i>
                        <i class="iconfont pro_img_item">Ƴ</i>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="pro_tit border_bottom">
            <h2 class="spanstyle">名称: @Model.FlowerWatchName </h2>
            <div class="week left">每周<span id="kly">@Model.Weekly</span>养护 </div>
            <div style="padding-top:12px;padding-left: 72%;">
            <img width="20" height="20" src="~/static/image/1160675719.jpg" />
            规格: <span style="color:#f44623">@Model.Specifications </span>cm </div>         
            <p>               
            </p>
        </div>
        
        <div class="jb_canshu">            
            <ul>
                @if (!string.IsNullOrEmpty(Model.OwnedCompany))
                {
                    <li>【单位】@Model.OwnedCompany </li>
                }
                @if (!string.IsNullOrEmpty(Model.XiXin))
                {
                    <li>【习性】@Model.XiXin</li>
                }
                @if (!string.IsNullOrEmpty(Model.YangHuFangFa))
                {
                    <li><span class="spanstyle">&nbsp;养护方法：</span><span id="fangfa">@Model.YangHuFangFa</span></li>
                }                
                <li>
                     <span class="spanstyle">&nbsp;养护时间：</span>@ViewBag.Treattime.ToString("yyyy-MM-dd HH:mm:ss")
                </li>
                <li>
                    <span class="spanstyle">&nbsp;预计下次养护时间：</span>@ViewBag.PlanTreatTime.ToString("yyyy-MM-dd HH:mm:ss")
                </li>   
            </ul>            
        </div>
     
    <div class="jb_canshu" style="color:#808080">       
        <ul>
            <li>
            <span >运费：</span><span style='color:red'>满300免费送</span>,不满加
                <span style='color:red'>50</span>元
            </li>
            <li>
             <span >提示：</span> 当天上午<span style='color:red'>11:00</span>之前付款最晚次日专车送达，
                <span style='color:red'>11:00</span>后付款最晚隔日专车送达
</li>
        </ul>
    </div>
    <div class="jb_canshu">
        @if (ViewData["IsTourist"] == null)
        {
            if (ViewData["IsAllower"].ToString() == "1")
            {   <div>
                <span style="font-size:15px;font-weight:600">更换花卉:</span>
            </div>
            @*<div class="layui-upload" style="text-align:center;">
                <button type="button" class="layui-btn upload" id="test8">+上传图片</button>              
                <input type="button" id="test9" class="put"  value="提交花卉" />
            </div>*@  <!--dom结构部分-->
                <div id="uploader-demo">
                    <!--用来存放item-->                    
                    <div id="filePicker" style="width: 32.4%; float: left;">+上传图片</div>
                    <input type="button" id="test9" class="put" value="提交花卉" />
                    <div id="fileList" class="uploader-list"></div>
                </div>         
            }
        }
        <div class="leftpadding">
                       
        </div>
        <div style="text-align: center;padding-top:10px">
            <textarea style="margin: 0px auto;text-align:left; height: 50px; width: 98%;
 border:1px solid #e6dddd; border-collapse:collapse; background-color: #eff2f5" placeholder="备注:"></textarea>
        </div>
        <div style="text-align:center; padding-top:10px">
            <input type="hidden" id="FlowerArrangementId" value="@Model.id" />
            <input type="button" onclick="location='/Shop/Details?id=@Model.ShopId'"
                   style="height: 40px; background-color: #a0c716; color:#fff;
                      border: none; width: 98%;border-radius:5px; " value="立即购买" />
        </div>
       
    </div>
        @*<script>            
            layui.use('upload', function () {
                var upload = layui.upload;

                //执行实例
                var uploadInst = upload.render({
                    elem: '#test8' //绑定元素
                  , url: '/FlowerArrangement/Upload' //上传接口
                  , bindAction: '#test9'
                  , auto: false
                  , data: { "FlowerArrangementId": $("#FlowerArrangementId").val() }
                  , done: function (res) {
                      //layer.alert('提交成功');
                      layer.msg('提交成功');
                      $(this).show();
                      //location.reload();
                  },
                  before: function (res) {
                      console.log(res);
                      console.log( $(".layui-inline layui-upload-choose").text());
                  }
                  , error: function () {
                      //请求异常回调
                  }
                });
            });
           
            
        </script>*@
 


</body>
</html>