@model Model.ProblemsAndSuggestions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-dpi, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>问题与建议</title>
    @Styles.Render("~/static/css/bootstrap.css")
    <script src="~/static/js/jquery.js"></script>
    <script src="~/static/js/util.js"></script>
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
    <script src="~/Scripts/jquery.valiedate.form.js"></script>
</head>
<body>
    <style>
        table tr {
            height: 20px;
        }
    </style>
    <script>
        $(function () {
            if ($('#ErrorInfo').val() != '') {
                //信息框
                layer.open({
                    content: $('#ErrorInfo').val()
                  , btn: '我知道了'
                });
            }
        })

        function CheckFrom() {
            if ($('#Problems').val() == '') {
                layer.open({
                    content: '问题不能为空'
                  , btn: '我知道了'
                });
                return false;
            }
            if ($('#Suggestions').val() == '') {
                layer.open({
                    content: '建议不能为空'
                  , btn: '我知道了'
                }); return false;
            }
            if ($('#phone').val() == '') {
                layer.open({
                    content: '联系电话不能为空'
                  , btn: '我知道了'
                }); return false;
            }
            if (!validatePhone($('#phone').val())) {
                layer.open({
                    content: '联系电话格式不正确'
                , btn: '我知道了'
                }); return false;
            }
            if ($('#Address').val() == '') {
                layer.open({
                    content: '地址不能为空'
                  , btn: '我知道了'
                }); return false;
            }
            return true;
        }

    </script>
    @using (Html.BeginForm("ProblemsAndSuggestions", "MMain", FormMethod.Post, new { onsubmit = "return  CheckFrom()", style = "width: 80%; margin: 70px auto;", @enctype = "multipart/form-data" }))
    {
        <div class="navbar navbar-fixed-top" data-id="top">
            <div class="navbar-inner" style="text-align:center; background-color: #438eb9; height: 50px; color: #FFFFFF; line-height: 50px; font-size: 20px;">
                <div style="float: left;margin-left: 10px; " onmousedown="black(this)">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>
                问题与建议
                <input type="hidden" value="@ViewData["success"]" id="ErrorInfo" />
            </div>
        </div>
        <input type="hidden" value="@ViewBag.LoginError" id="InfoShow" />
        <div class="form-group">
            <label for="exampleInputEmail1">问题</label>
            @Html.TextAreaFor(x => x.Problems, new { @class = "form-control", @placeholder = "请输入问题" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">建议</label>
            @Html.TextAreaFor(x => x.Suggestions, new { @class = "form-control", @placeholder = "请输入建议" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">上传图片</label>
            <input type="file" class="form-control"  id="main_img" name="main_img" />
            <div id="preview_img"></div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">联系电话</label>
            @Html.TextBoxFor(x => x.phone, new { @class = "form-control", @placeholder = "请输入手机号" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">联系地址</label>
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "请输入联系地址" })
        </div>
        <div style="float: right; margin-bottom: 10px;">
            <button type="submit" class="btn btn-primary glyphicon glyphicon-ok">提交</button>
            @*<button type="button" class="btn btn-default glyphicon glyphicon-repeat" onclick="ClaceThis()">重置</button>*@
        </div>
    }
</body>
</html>
