
@model Model.UserAdmin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>淘花运</title>
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
    @Styles.Render("~/Thems/css/AdminLTE.min.css")
    @Styles.Render("~/Thems/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/iCheck/flat/blue.css")
    @Styles.Render("~/plugins/morris/morris.css")
    @Styles.Render("~/plugins/jvectormap/jquery-jvectormap-1.2.2.css")
   @* @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/plugins/daterangepicker/daterangepicker.css")*@
    @Styles.Render("~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
    @Styles.Render("~/plugins/iCheck/square/blue.css")
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    <!-- jQuery UI 1.11.4 -->
    @*<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")*@
    <!-- iCheck -->
    @Scripts.Render("~/plugins/iCheck/icheck.min.js")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script>
        if (self != top) {
            top.location = self.location;
        }
    </script>
    <script>
        function CheckFrom() {
            if ($("#UserName").val() == "") {
                $("#LoginError").html('账号不能为空');
                return false;
            }
            if ($("#PassWord").val() == "") {
                $("#LoginError").html('密码不能为空');
                return false;
            }
            return true;
        }
    </script>
</head>
<body class="hold-transition login-page" style="background: url(../../Thems/img/bj.jpg) no-repeat center center;overflow-y:hidden;">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { onsubmit = "return  CheckFrom()" }))
    {
        <div class="login-box">
            <div class="login-logo">
                <b>
                    淘花运
                </b>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg"></p>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "用户名", @class = "form-control" })
                    <span class="glyphicon glyphicon-level-up form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.PassWord, new { @placeholder = "密码", @class = "form-control" })
                    <span class="glyphicon glyphicon-magnet form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <span style="color:red;float:left;" id="LoginError">@ViewBag.LoginError</span>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Login">
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>
       
    }
</body>
</html>
