@model  Model.CartLine
@{
    var fnum = Model.Products.Sum(x => x.Num);
    var fmoney = Model.Products.Sum(x => x.Num * x.FlowerSalesPrice);
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>我的购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />     
    <meta name="location" content="province=;city=;coord=" />
    
    <link href="~/FileCss/css/header.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/FileCss/css/shopitem.css" rel="stylesheet" />
    @*加载表格*@
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Styles.Render("~/Bootstrap/css/bootstrap.min.css")
    @Scripts.Render("~/Bootstrap/js/bootstrap.min.js")
    <script src="~/Bootstrap/js/jquery.bootstrap-touchspin.min.js"></script>
    @*<script src="~/FileCss/js/jquery.min.js"></script>*@
    <script src="~/FileCss/js/main.js?debug=847" type="text/javascript"></script>
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
    
    <style>
        body {
            background: #fff;
        }
        .text-center {
        text-align: left;font-size: 15px;font-weight: bold;color: red;
        line-height:12px;
        }
    </style>
    <script>
    $(function () {
        //移出
        $(".btn-sm").click(function () {
            
            var id = $(this).closest("div.productbox").find('#Id').val();
            layer.open({
                content: '您确定将此商品移出购物车吗？'
             , btn: ['确定','取消']
             ,yes : function (index) {
                 var num = 1;
                 $.ajax({
                     url: '/BuyCart/RemoveFromCart?id=' + id,
                     type: "get",
                     dataType: "json",
                     success: function (data, status) {
                         if (data.code == 1) {
                             location.reload();
                         }
                     },
                 })//提示
                 layer.open({
                     content: '移出购物车成功!'
                  , skin: 'msg'
                  , time: 2 //2秒后自动关闭
                 });
             }, 
             no: function (index) {
                 layer.close(index);
             }
            });

        });
        //加减
        var i = $("input[class='demo2']");
        i.TouchSpin({
            min: 1,
            max: 100,
            step: 1//增量或减量
        });

        i.on("touchspin.on.stopupspin", function () {
            $.post('@Url.Action("IncreaseOrDecreaseOne", "BuyCart")', { "id": $(this).closest("div.productbox").find('#Id').val(), "quantity": $(this).val() }, function (data) {
                if (data.msg) {
                    location.reload();
                }
            });
            //
        });

        i.on("touchspin.on.stopdownspin", function () {
            $.post('@Url.Action("IncreaseOrDecreaseOne", "BuyCart")', { "id": $(this).closest("div.productbox").find('#Id').val(), "quantity": $(this).val() }, function (data) {
                if (data.msg) {
                    location.reload();
                }
            });
        });
        //全选
        var $chkAll = $('.allcheck');
        var $checkboxList = $('[id^=chk_]');
        $chkAll.prop({ checked: true });//选择框默认选中
        $chkAll.change(function () {
            var that = this;
            $('.row :checkbox').prop({ checked: that.checked }).trigger('change');
            var allfnum=0;//全选时赋初值
            var allfPrice=0;//全选时赋初值
            $checkboxList.each(function () {
                if (this.checked) {
                    var tyu = $(this).closest("div.productbox").find("input[name^='demo2']").val();
                    allfnum += parseInt(tyu);
                    $("#totalpkg").text(allfnum);
                    $(".btn_box a").css("background"," #f44623");
                    //总计
                    var tyuj = $(this).closest("div.productbox table").find("[name='demo1']").text();
                    allfPrice+=parseInt(tyuj)*parseInt(tyu);
                    $("#totalmoney").text("¥"+allfPrice);
                } else {
                    fnum=0;
                    $("#totalpkg").text(0);
                    $(".btn_box a").attr("disabled",false);
                    $(".btn_box a").css("background"," #676b70");
                    //总计
                    $("#totalmoney").text("¥"+fnum);
                }
            });
        });
        var fnum=@fnum ;//计算件数
        var fmoney=@fmoney  //总计
            $('.row :checkbox').prop({ checked: true }).trigger('change');//选择框默认选中
            $checkboxList.change(function () {
                var selectCount = 0;
                $checkboxList.each(function () {
                    if (this.checked) {

                        selectCount++;
                    }
                });
                if (selectCount > 0 && selectCount == $checkboxList.length) {
                    $chkAll.prop({ checked: true });
                    $(".btn_box a").css("background"," #f44623");//亮
                }else if(selectCount == 0){
                    $chkAll.prop({ checked: false });
                    $(".btn_box a").css("background"," #676b70");//
                } else {
                    $chkAll.prop({ checked: false });
                    $(".btn_box a").css("background"," #f44623");//暗
                }
            });
            //点击每个选择框
            $(".checkbox").click(function () {
                if (this.checked) {
                    var tyu = $(this).closest("div.productbox").find("input[name^='demo2']").val();
                    fnum += parseInt(tyu);
                    $("#totalpkg").text(fnum);
                    var tyuj = $(this).closest("div.productbox table").find("[name='demo1']").text();
                    fmoney+=parseInt(tyuj)*parseInt(tyu);
                    $("#totalmoney").text("¥"+fmoney);
                } else {
                    var tyu = $(this).closest("div.productbox").find("input[name^='demo2']").val();
                    fnum -= parseInt(tyu);
                    $("#totalpkg").text(fnum);//件数
                    //总计
                    var tyuj = $(this).closest("div.productbox table").find("[name='demo1']").text();
                    fmoney-=parseInt(tyuj)*parseInt(tyu);
                    $("#totalmoney").text("¥"+fmoney);
                }

            });
        //总金额
         $("#totalmoney").text("¥"+@fmoney);
    });

    //结算
    function SubmitCartListInfo(thi) {
        if(thi.children[0].innerText!=0){
            layer.open({
                content: '提交'
                 , skin: 'msg'
                                      , time: 2 //2秒后自动关闭
            });
            //
            var account ="";
            var flowernums="";
            var $checkboxList = $('[id^=chk_]');
            $checkboxList.each(function () {
                if (this.checked) {
                    var tyug = $(this).closest("div.productbox").find("#FlowerId").val();
                    account+=tyug+",";
                    var tyun = $(this).closest("div.productbox").find("input[name^='demo2']").val();
                    flowernums+=tyun+",";
                }
            });
            flowernums=flowernums.substring(0,flowernums.length-1);
            location.href="/Shop/PayOrders?ids="+account+"&FlowerNums="+flowernums
                +"&goodnum="+$("#totalpkg").text();
        }
        else{
            layer.open({
                content: '请选择商品后结算！'
                 ,skin: 'msg'
                 , time: 2 //2秒后自动关闭
            });
        }

    }

    </script>

</head>
<body>   
    @Html.Partial("header")   
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                var item = (Model.Products)[i];


                @*if (i != 0 && i % 4 == 0) //每行有4个div
                {
                    <div style="clear:both;"></div>
                }*@

                <div class="col-md-3 column productbox">
                    @Html.Hidden("Id", item.Id)     
                    @Html.Hidden("FlowerId", item.FlowerId)                                  
                    <a href="/Shop/Details?id=@item.FlowerId">
                    <img src="@item.FlowerWatchPhoto" style="width: 460px; height: 250px;" class="img-responsive">
                    </a>
                    <div class="producttitle">
                        <div class="productname">@item.FlowerWatchName</div>
                        <div class="productdes">@item.FlowerIntroduction</div>
                        <div>
                            <table>
                                <tr>
                                    <td style="width:50px;">单价：</td>
                                    <td name="demo1">@item.FlowerSalesPrice</td>
                                </tr>
                                <tr>
                                    <td>数量：</td>
                                    <td>
                                        <input class="demo2" type="text" value="@item.Num" name="demo2" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkbox" id="chk_@item.Id" /></td>
                                    <td>小计：</td>
                                    <td style="padding-right: 20px;">@((item.Num * item.FlowerSalesPrice).ToString("c"))</td>
                                    <td><input class="btn btn-default btn-sm" type="button" value="移除" />  
                                     </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="productprice">
                        <div class="text-center">    
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <hr />
    <div class="container">        
        <div class="btn_box border_top">
            <div class="text-center">
                &nbsp;&nbsp;&nbsp;<input type="checkbox" class="allcheck" allfid="" />
                <span>总计：</span>
                <span id="totalmoney"></span>
            </div>
            <div class="">             
                <a href="javascript:void(0)" data-src="" onclick="SubmitCartListInfo(this)" class="cart right">
                去结算(<span id="totalpkg">@fnum</span> 件)</a>
            </div>

        </div>
    </div>
    
    
</body>
</html>