@model  List<Model.Flower>

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link href="~/points/css/base.css" rel="stylesheet" />
    <link href="~/points/css/index.css" rel="stylesheet" />
    <link href="~/points/css/mui.min.css" rel="stylesheet" />
    <link href="~/points/css/loaders.min.css" rel="stylesheet" />
    <link href="~/points/css/loading.css" rel="stylesheet" />
    <link href="~/points/css/swiper.min.css" rel="stylesheet" />
    <style>
        .gouwu {
            margin-top: -19%;
            margin-left: 70%;
        }     
    </style>
</head>

<!--loading页结束-->
<body>
    <!--loading页开始-->
    <div class="loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!--头部区域-->
    <header class="mui-bar mui-bar-nav" id="header">
        <h4 style="margin-left:18%">淘花运</h4>
        <a href="/MOrders/MIndex" style="color: #fff; font-size: 13px; width: 90px;">我的订单
        </a> 
    </header>
    <div id="main" class="clearfloat warp">
        <div class="mui-content">
            <div class="theme clearfloat">
                <div class="boutit clearfloat">
                    <span></span>
                    <samp>花卉列表</samp>
                </div>
                <div class="content clearfloat" id="prolist">
                    @foreach (var item in Model)
                    {
                        <div class="list clearfloat fl">
                            @if (item.FlowerStock > 0)
                            {
                                <a href="javascript:void(0);" onclick="window.location.href = '/Shop/Details?id=' + @item.id">
                                    <div class="tu clearfloat fr">
                                        <span></span>
                                        <img src="@item.FlowerWatchPhoto" />
                                    </div>
                                </a>
                                <div class="shang clearfloat fl box-s">
                                    <p class="tit over">@item.FlowerWatchName</p>
                                    <p><span>价格:</span><span class="over db red">@item.FlowerSalesPrice</span></p>
                                    <div class="gouwu" gid="@item.id">
                                        <img src="~/FileCss/images/de_gouwuche.png" width="17" height="17"
                                             style="display: block; margin-left: 5px;" />
                                    </div>
                                </div>

                            }
                            @if (item.FlowerStock < 0)
                            {
                                <a href="javascript:void(0);">
                                    <div class="tu clearfloat fr">
                                        <span></span>
                                        <img src="@item.FlowerWatchPhoto" />
                                    </div>
                                    <div class="shang clearfloat fl box-s">
                                        <p class="tit over">@item.FlowerWatchName</p>
                                        <p><span>价格:</span><span class="over db red">@item.FlowerSalesPrice</span><span class="over db red">(库存不足)</span></p>
                                    </div>
                                </a>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--footer star-->
    @*<footer class="page-footer fixed-footer" id="footer">
            <ul>
                <li class="active">
                    <a href="/MMIndex/Index">
                        <i class="iconfont icon-shouye"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                        <a href="cation.html">
                            <i class="iconfont icon-icon04"></i>
                            <p>分类</p>
                        </a>
                    </li>
                    <li>
                        <a href="shopcar.html">
                            <i class="iconfont icon-gouwuche"></i>
                            <p>购物车</p>
                        </a>
                    </li>
                <li>
                    <a href="center.html">
                        <i class="iconfont icon-yonghuming"></i>
                        <p>我的订单</p>
                    </a>
                </li>
            </ul>
        </footer>*@
    <!--footer end-->
    <script src="~/points/js/jquery-1.8.3.min.js"></script>
    <script src="~/points/js/rem.js"></script>    
    <script src="~/points/js/swiper.jquery.min.js"></script>
    <script src="~/points/js/others.js"></script>  
    <script src="~/Thems/js/layer/mobile/layer.js"></script>
    @*加载弹出层
        @Scripts.Render("~/Thems/js/layer/layer.js")*@
    <script type="text/javascript">
        $(window).load(function () {
            $(".loading").addClass("loader-chanage")
            $(".loading").fadeOut(300)
        });

        $(function () {
            $("#down").click(function () {
                var count = $("#count").html();
                if (count > 1) {
                    $("#count").html($("#count").html() - 1);
                } else {
                    $("#count").html(1);
                }
            })
            //
            $(".gouwu").click(function () {
                var gid = $(this).attr("gid");
                layer.open({
                    content: '您确定将此商品加入购物车吗？'
                 , btn: ['确定', '取消']
                 , yes: function (index) {
                     var num = 1;
                     $.ajax({
                         url: '/BuyCart/AddToCart',
                         data: { "FlowerId": gid, "Num": num },
                         dataType: "json",
                         success: function (data, status) {
                             if (data.code == 1) {
                                 layer.open({
                                     content: '添加购物车成功!'
                                                  , skin: 'msg'
                                                  , time: 2 //2秒后自动关闭
                                 });
                             }
                         },
                     })//提示

                 },
                    no: function (index) {
                        layer.close(index);
                    }
                });
            });
            //
        });
        //function jian() {
        //    var count = $("#count").html();
        //    if (count > 1) {
        //        $("#count").html($("#count").html() - 1);
        //    } else {
        //        $("#count").html(1);
        //    }
        //}
        var page = 2;
        var finished = 0;
        var sover = 0;

        //如果屏幕未到整屏自动加载下一页补满
        var setdefult = setInterval(function () {           
            if (sover == 1)
                clearInterval(setdefult);
            else if ($(".theme").height() < $(window).height()) {
                console.log($(".theme").height());
                console.log($(window).height());
                loadmore($(window));
            }
            else
                clearInterval(setdefult);
        }, 500);

        //加载完
        function loadover() {
            if (sover == 1) {
                var overtext = "Duang～到底了";
                $(".loadmore").remove();
                if ($(".loadover").length > 0) {
                    $(".loadover span").eq(0).html(overtext);
                }
                else {
                    var txt = '<div class="loadover"><span>' + overtext + '</span></div>'
                    $("body").append(txt);
                }
            }
        }

        //加载更多
        var vid = 0;
        function loadmore(obj) {
            if (finished == 0 && sover == 0) {
                var scrollTop = $(obj).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(obj).height();

                if ($(".loadmore").length == 0) {
                    var txt = '<div class="loadmore"><span class="loading"></span>加载中..</div>'
                    $("body").append(txt);
                }

                if (scrollTop + windowHeight - scrollHeight <= 50) {
                    //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                    var ht = '<a href="#" class="backtop_btn" style="position:fixed;bottom:0;left:85%;">↑回顶部</a>';
                    $("body").append(ht);
                    //防止未加载完再次执行
                    finished = 1;

                    $.ajax({
                        type: 'GET',
                        url: '/Shop/GetMobleFlowerMore?page=' + page ,
                        dataType: 'json',
                        success: function (data) {
                            //console.log(data);
                            if (data == "" || data == null) {
                                //console.log('数据加载完了');
                                sover = 1;
                                loadover();
                                if (page == 1) {
                                    $("#no_msg").removeClass("hidden");
                                    $(".loadover").remove();
                                }
                            }
                            else {
                                var result = ''
                                for (var i = 0; i < data.length; i++) {
                                    result += '<div class="list clearfloat fl">';
                                    if(data[i].Photo!=undefined)
                                    { 
                                        result+='<img src="' + data[i].Photo + '" class="imgphoto" width="100" height="100" /></span></td>';
                                    }
                                    else{
                                        result+='<img src="/FileCss/images/nopic.png" width="100" height="100" /></span></td>'
                                    }
                                    result+='<td><span class="list_img">';
                                    if(data[i].ChangePhoto!=undefined)
                                    {  
                                        result+='<img src="' + data[i].ChangePhoto + '" class="imgphoto" width="100" height="100" /></span></td>';
                                    }
                                    else{
                                        result+='<img src="/FileCss/images/nopic.png" width="100" height="100" /></span></td>'
                                    }
                                    result+=' <td><span class="gh">';                            
                                    if(data[i].ContentMsg!=undefined)
                                    {   
                                        result+='<em>'+data[i].ContentMsg+'</em><br></span></td>'; 
                                    }
                                    else{
                                        result+='<em></em><br></span></td>'; 
                                    }   
                                    result+='</tr>';
                                }//end for
                                //为了测试，延迟1秒加载
                                setTimeout(function () {
                                    $(".loadmore").remove();
                                    //console.log(result);
                                    $('#prolist').append(result);
                                    page += 1;
                                    finished = 0;
                                    //最后一页
                                    if (page == 10) {
                                        sover = 1;
                                        loadover();
                                    }
                                }, 1000);
                            }
                        },
                        error: function (xhr, type) {
                            alert('Ajax error!');
                        }
                    });
                }
            }
        }
        //页面滚动执行事件
        $(window).scroll(function () {
           //loadmore($(this));
        });
    </script>
</body>
</html>
