<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>确认支付</title>
    <link href="~/points/css/base.css" rel="stylesheet" />
    <link href="~/points/css/zhifu.css" rel="stylesheet" />
    <link href="~/points/css/mui.min.css" rel="stylesheet" />
    <link href="~/points/css/loaders.min.css" rel="stylesheet" />
    <link href="~/points/css/loading.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/FileCss/css/m2015.css?debug=847" />
    <script src="~/points/js/rem.js"></script>
    <script src="~/points/js/jquery-1.8.3.min.js"></script>
    <script src="~/points/js/swiper.jquery.min.js"></script>
    <script src="~/FileCss/js/distpicker.data.js"></script>
    <script src="~/FileCss/js/distpicker.js"></script>
    @*加载弹出层*@
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <script src="~/Scripts/jquery.valiedate.form.js"></script>
    <script type="text/javascript">

        $(window).load(function () {
            $(".loading").addClass("loader-chanage")
            $(".loading").fadeOut(300)
        })
        $(function () {
            //计算内容上下padding
            reContPadding({ main: "#main", header: "#header", footer: "#footer" });
            function reContPadding(o) {
                var main = o.main || "#main",
					header = o.header || null,
					footer = o.footer || null;
                var cont_pt = $(header).outerHeight(true),
					cont_pb = $(footer).outerHeight(true);
                $(main).css({ paddingTop: cont_pt, paddingBottom: cont_pb });
            }
        });

        function CheckFrom() {
            var adr = $("select[name='province']").val();
            var adr1 = $("select[name='city']").val();
            var adr2 = $("select[name='area']").val();
          
          if (adr == "") {
                layer.msg('地址不能为空');
                return false;
            }
            if ($("#ConsigneeName").val() == "") {
                layer.msg('联系人姓名不能为空');
                return false;
            }
            var phone=$("#ConsigneePhone").val();
            if (phone == "") {
                layer.msg('联系人电话不能为空');
                if (!valiDateTel(phone)) {
                    layer.msg('联系人电话不合法！');
                }
                return false;
            }
            //$.ajax({
            //    url: '/Shop/AddInfo?OrdersId=' + $("#OrdersId").val() + '&DetailedAddress='+ adr+adr1+adr2+ $("#DetailedAddress").val() + '&ConsigneeName=' + $("#ConsigneeName").val() + '&ConsigneePhone=' + $("#ConsigneePhone").val(),
            //})
        }
    </script>
</head>

<!--loading页结束-->
<body>
    @using (Html.BeginForm("PayOrdersNow", "Shop", FormMethod.Post, new { onsubmit = "return  CheckFrom()" }))
    {
    <!--loading页开始-->
        <div class="loading">
            <div class="loader">
                <div class="loader-inner pacman">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <header class="mui-bar mui-bar-nav report-header box-s" id="header">
            <a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
            <p>确认支付</p>
        </header>
        <div id="main" class="mui-clearfix contaniner sorder">
            <div class="warning clearfloat box-s">
                @ViewData["msg"] 
            </div>
            <div class="odernum clearfloat">
                <ul>
                    <li>
                        您的订单号：@ViewData["OrdersId"]
                        <input type="hidden" id="OrdersId" value="@ViewData["OrdersId"]" name="OrdersId" />
                    </li>
                    <li>
                        应付价格：<span>
                            @ViewData["PayTotal"]
                        <input type="hidden" value="@ViewData["PayTotal"]" name="PayTotal" />
                    </span>
                </li>
            </ul>
        </div>
        @*<div class="odernum clearfloat">
                <ul>
                    <li><input type="text" name="DetailedAddress" id="DetailedAddress" placeholder="请输入地址" style="width:50%"></li>
                </ul>
            </div>
            <div class="odernum clearfloat">
                <ul>
                    <li><input type="text" name="ConsigneeName" id="ConsigneeName" placeholder="联系人姓名" style="width:50%"></li>
                </ul>
            </div>*@
        <div class="odernum clearfloat">
            <div class="pro_kc">
                <dl class="yanse">
                    <dt>
                        收货人：
                    </dt>
                    <dd>
                        <input type="text" name="ConsigneeName" id="ConsigneeName" />
                    </dd>
                    <br />
                    <dt>
                        收货人电话：
                    </dt>
                    <dd>
                        <input type="text" name="ConsigneePhone" id="ConsigneePhone" />
                    </dd>
                    <br />
                    <dt>
                        收货地址：
                    </dt>

                    <dd>
                        <div style="width:100%" data-toggle="distpicker">
                            <div style="width:50%;float:left">
                                <select style="width:80px;" name="province"></select>
                                <select style="width: 120px; " name="city"></select>
                            </div>
                            <div style="width:50%; padding-left:20px">
                                <select style="width: 80px; " name="area"></select>
                            </div>
                        </div>
                    </dd>
                    <br />
                    <dt>
                        详细地址：
                    </dt>
                    <dd>
                        <input type="text" name="DetailedAddress" id="DetailedAddress" />
                    </dd>
                    <dt>
                        备注：
                    </dt>
                    <dd>
                        <input type="text" name="Remark" id="Remark" />
                    </dd>
                </dl>
                <dl id="_address" class="yanse" style="display: none;"></dl>
            </div>

        </div>
        <button type="submit" class="address-add f">确认支付</button>
    </div>
    }
</body>
</html>
