@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
    @Styles.Render("~/Bootstrap/css/bootstrap.css")
    @Styles.Render("~/Bootstrap/bootstrap-table/bootstrap-table.css")   
</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">养护花卉列表</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            养护人
                        </label>
                        <div class="col-sm-2">
                            @Html.DropDownList("UsersSelectItems", ViewData["UsersSelectItems"] as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            养护客户所属名称
                        </label>
                        <div class="col-sm-2">
                            @Html.DropDownList("deptSelectItems", ViewData["SelectItem"] as List<SelectListItem>, new { @class = "form-control" })
                        </div>
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            养护时间
                        </label>
                        <div class="col-sm-2">
                            <input type="text" id="time" name="time" onfocus="WdatePicker()" />
                        </div>
                        <div class="col-sm-2" style="text-align:left;">
                            <button type="button" class="btn btn-default" onclick="onloadTable();">
                                查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="toolbar" class="btn-group">
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改
            </button>
            <button id="btn_serverbefor" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改服务前的图片
            </button>
            <button id="btn_serverafter" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改服务后的图片
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
            </button>
        </div>
        <table id="tb_departments" data-reorderable-columns="true"></table>

        <div id="PhotoShowDiv"><img src="" id="ShowPhotoImg" style="max-height:500px;max-width:400px;" /></div>
    </div>
    @*加载表格*@
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/Bootstrap/js/bootstrap")
    @*加载弹出层*@
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <script src="~/Scripts/Admin/FlowerTreatment.js?v=1"></script>
    <script src="~/My97DatePicker/WdatePicker.js"></script>
    <script>
        $(function () {
            onloadTable();
            $("#btn_edit").click(function () {
                var ids = $("#tb_departments").bootstrapTable('getSelections');
                if (ids.length == 0) {
                    parent.layer.msg('请先选中一行');
                    return false;
                }
                parent.layer.open({
                    type: 2,
                    title: '修改记录',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['250px;', '400px;'],
                    content: '/FlowerTreatment/Edit?id=' + ids[0].id,
                    end: function () { //层彻底关闭后执行的回调
                        onloadTable();
                    }
                });
            });
            //修改服务前的图片
            $("#btn_serverbefor").click(function () {
                var ids = $("#tb_departments").bootstrapTable('getSelections');
                if (ids.length == 0) {
                    parent.layer.msg('请先选中一行');
                    return false;
                } else if (ids.length > 1) {
                    parent.layer.msg('请选中一行,不可多行同时编辑');
                    return false;
                }
                parent.layer.open({
                    type: 2,
                    title: '修改服务前的图片',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['320px;', '350px;'],
                    content: '/FlowerTreatment/serverbefor?id=' + ids[0].id,
                    end: function () { //层彻底关闭后执行的回调
                        onloadTable();
                    }
                });
            });
            //修改服务后的图片
            $("#btn_serverafter").click(function () {
                var ids = $("#tb_departments").bootstrapTable('getSelections');
                if (ids.length == 0) {
                    parent.layer.msg('请先选中一行');
                    return false;
                } else if (ids.length > 1) {
                    parent.layer.msg('请选中一行,不可多行同时编辑');
                    return false;
                }
                parent.layer.open({
                    type: 2,
                    title: '修改服务后的图片',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['320px;', '350px;'],
                    content: '/FlowerTreatment/serverafter?id=' + ids[0].id,
                    end: function () { //层彻底关闭后执行的回调
                        onloadTable();
                    }
                });
            });
            $("#btn_delete").click(function () {
                var ids = $("#tb_departments").bootstrapTable('getSelections');
                if (ids.length == 0) {
                    parent.layer.msg('请先选中一行');
                    return false;
                }
                parent.layer.confirm('删除当前记录?', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    var id = '';
                    for (var i = 0; i < ids.length; i++) {
                        id += ids[i].id + ",";
                    }
                    id = id.substr(0, id.length - 1);
                    $.ajax({
                        url: '/FlowerTreatment/DeleteInfo?ids=' + id,
                        async: false,
                        success: function (data) {
                            if (data == "1") {
                                parent.layer.closeAll();
                                onloadTable();
                            }
                            else {
                                parent.layer.closeAll();
                            }
                        }
                    })

                }, function () {
                });
            });
        });
        function ShowPhotoInfo(values) {
            parent.layer.closeAll();
            $("#ShowPhotoImg").attr("src", values);
            parent.layer.open({
                type: 1,
                shade: false,
                offset: ['120px', '500px'],
                title: false, //不显示标题
                content: $('#PhotoShowDiv').html(), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function () {

                }
            });
            $("#ShowPhotoImg").attr("src", "");
        }

        function ShowMsg(msg) {
            parent.layer.alert(msg, {
                skin: 'layui-layer-lan'
               , closeBtn: 0
               , anim: 4 //动画类型
            });
        }
    </script>
</body>
</html>

