@model List<Model.UserAdmin>
@{
    Layout = null;
}

@Styles.Render("~/bootstrap/css/bootstrap.css")
@Scripts.Render("~/Plugins/jQuery/jquery-2.2.3.min.js")
@*加载弹出层*@
@Scripts.Render("~/Thems/js/layer/layer.js")
@using (Html.BeginForm("SetWorkRealName", "UserInfo", FormMethod.Post))
{
    <div class="box-body">
        <br />
        <div class="form-group">
            <span for="inputEmail3" class="col-sm-2 control-label"><span style="color:red;">*</span>业务负责人&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="col-sm-4">
                @foreach (Model.UserAdmin item in Model)
                {
                    <input type="checkbox" name="deptSelectItems" value="@item.ID"  onclick="CheckThisCheckBox(this)"/>@item.RealName
                    <div style="display:none"> <input type="checkbox" name="SelectRealName" id="@item.ID" value="@item.RealName" /> </div>
                }
            </div><input type="hidden" id="id" name="id" value="@ViewData["id"]"    />
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer" style="text-align: center;">
        <button id="btn_add" type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>保存
        </button>
        <button id="btn_delete" type="button" class="btn btn-default" onclick="parent.layer.closeAll();" style="margin-left:25px;">
            <span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp;&nbsp;取消
        </button>
    </div>


}
<script>
    function CheckThisCheckBox(obj)
    {
        if ($(obj).attr("checked") == true) {
            //当前为选中状态
            $("#" + $(obj).val()).attr("checked", 'true');
        } else {
            //当前为不选中状态
            $("#" + $(obj).val()).attr("checked", 'false');
        }
    }
</script>

