@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*加载表格*@
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")

    @Styles.Render("~/Bootstrap/css/bootstrap.css")
    @Scripts.Render("~/Bootstrap/js/bootstrap.js")

    @Styles.Render("~/Bootstrap/bootstrap-table/bootstrap-table.css")
    @Scripts.Render("~/Bootstrap/bootstrap-table/bootstrap-table.js")
    @*加载弹出层*@
    @Scripts.Render("~/Thems/js/layer/layer.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="~/Scripts/Admin/Employee.js"></script>

</head>
<body>
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">员工资料列表</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            编号
                        </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Number">
                        </div>
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            姓名
                        </label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Name">
                        </div>
                        <label class="control-label col-sm-2" for="txt_search_departmentname">
                            资料类型
                        </label>
                        <div class="col-sm-2" >
                            <select id="DataType" class="form-control">
                                <option value="">--全部--</option>
                                <option value="员工入职">员工入职</option>
                                <option value="员工转正">员工转正</option>
                            </select>
                        </div>
                        <div class="col-sm-4" style="text-align:left;">
                            <button type="button" class="btn btn-default" onclick="onloadTable();">
                                查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="toolbar" class="btn-group">
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
            </button>
        </div>
        <table id="tb_departments" data-reorderable-columns="true"></table>
    </div>
    <script>
        $(function () {
            onloadTable();
          
            $("#btn_delete").click(function () {
                var ids = $("#tb_departments").bootstrapTable('getSelections');
                if (ids.length == 0) {
                    parent.layer.msg('请先选中一行');
                    return false;
                }
                $.ajax({
                    url: '/Employee/DeleteInfo?id=' + ids[0].Number,
                    suucess: function (data)
                    {
                  
                       
                    }
                })
                parent.layer.msg("删除成功");
                onloadTable();
            })
        })
    </script>
</body>
</html>
